<dom-module id="form-dynamic-styles"><template><style>
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --form-dynamic; }
  :host --cells-molecule-input {
    padding: 25px; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit; }

</style></template></dom-module>