<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="form-dynamic-styles.html">
<dom-module id="form-dynamic">
  <script src="form-dynamic.js"></script>
  <template>
    <dom-repeat items="{{fieldsArray}}">
      <template>
        <cells-molecule-input 
          label="{{item.label}}" 
          type="{{item.type}}" 
          id="form-{{item.label}}"
          name="form-{{item.label}}"></cells-molecule-input>
      </template>
    </dom-repeat>
    <cells-st-button class="primary">
      <button on-click="getValues">{{buttonText}}</button>
    </cells-st-button>
  </template>
</dom-module>